
<table>
	<tr>
		<td> menu </td>
		<td></td>
	</tr>
	<tr>
		<td align="top"> neuer verlag <br />
			neues buch <br />
			neuer autor <br />
		
		
		
		
		</td>
		<td> <%= yield %> </td>
	</tr>
</table>
