
<table border="3">
	<tr>
		<td> menu </td>
		<td></td>
	</tr>
	<tr>
		<td align="top"> 
			<%= link_to "neuer autor", new_author_path %><br />
			<%= link_to "neues buch", new_book_path %><br />
			<%= link_to "neuer verlag", new_publisher_path %><br />
		
		
		
		
		</td>
		<td> <%= yield %> </td>
	</tr>
</table>
