
<h1> <%= @author.lastname %>, <%= @author.firstname %> </h1>
<table border="1">
  <tr>
    <td> Autor </td>
    <td> Buecher </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <% @author.books.each do |b| %>
      <%= link_to b.id, book_path(b.id)%> <%=b.title %> <br />
      <%end%>
    </td>
  </tr>
</table>
